@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #1f3d29;
  --color-secondary: #f1c125;
}

@utility shadow-soft {
  box-shadow: 0 10px 25px -5px rgba(5, 150, 105, 0.05), 0 8px 10px -6px rgba(5, 150, 105, 0.01);
}
@utility shadow-soft-hover {
  box-shadow: 0 15px 30px -5px rgba(5, 150, 105, 0.08);
}

body {
  font-family: 'Outfit', sans-serif;
}
